.field--name-featured-image {
  margin-bottom: .5em;
}

.field--name-featured-image .field-item {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.field.field--name-date {
  font-family: "SlabItalic";
  font-size: 0.85em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.view-mode-teaser h2 {
  font-size: 1.2em;
  margin-top: 0em;
}

.view-mode-teaser h3 {
  font-size: 1.05em;
  margin-top: 0em;
}

.field--name-node-link {
  margin-top: .5em;
}

.view-mode-full .field-name-body {
  padding: 1em 2em 2em 0em;
}

.field-name-body .field-item {
  padding: 0em;
}

.field-name-body .field-item p {
  margin: 0 0 .5em 0;
  padding: 0;
  line-height: 1.6em;
}

.field--name-nickname {
  font-family: "SansItalic", Arial, sans-serif;
  font-size: 0.95em;
}

.field--name-nickname .field-item:before {
  content: "\f213";
  font-family: "ionicons";
  font-size: 1em;
  vertical-align: top;
  margin: 0 0.3em 0 0;
  line-height: 1em;
  border: 2px solid;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  background: #fff;
  padding: 0.2em;
}

.view-mode-teaser .field--name-nickname .field-item:before {
  padding: 0;
  float: none;
  vertical-align: middle;
}

.view-mode-teaser .field--name-featured-image img {
  display: block;
  max-width: 180px;
}

.view-participants .views-row:hover .field--name-featured-image .field-item {
  transform: scale(1.05);
  box-shadow: none;
}

.l-main ul.program-list li {
  padding: 0 1em 0 0;
  background: rgba(255,255,255,0.4);
  border: 1px solid #DEDBD5;
  margin-bottom: 3px;
  border-radius: 5px;
  overflow: hidden;
}
.l-main ul.program-list li:before {
  background: #fff;
  padding: 1em 0em 1em 1em;
  margin: 0;
  font-size: 1em;
  display: none;
}
.l-main ul.program-list li strong {
  background: #821005;
  color: #fff;
  display: inline-block;
  padding: 1em 1em 1em 1em;
  position: relative;
  margin-right: 1.5em;
  min-width: 10em;
  font-weight: 400;
  font-family: "SansBold";
}
.l-main ul.program-list li strong:after {
  display: inline;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.6em 0 1.6em .75em;
  border-color: transparent transparent transparent #821005;
  position: absolute;
  top: 0;
  right: -0.75em;
}
.l-main ul.program-list li.sessions {
  font-family: "SansBold";
}
.l-main ul.program-list li.sessions strong {
  background-color: #B42B2D;
  width: 12em;
}
.l-main ul.program-list li.sessions strong:after {
  border-color: transparent transparent transparent #B42B2D;
}
/* node-type-user-profile */
.view-mode-full .field--name-featured-image {
  float: right;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-left: 2em;
}

.view-participants .view-mode-teaser .field--name-featured-image img {
  max-width: 150px;
}

.view-mode-full .field--name-featured-image img {
  display: block;
  max-width: 100%;
}

.view-participants .field--name-featured-image .field-item {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

/* node news */
.node--type-news.view-mode-teaser .field.field--name-featured-image {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 180px;
}

.node--type-news .field--name-featured-image .field-item {
  display: inline-block;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.view-news .views-row:hover .field--name-featured-image .field-item {
  transform: scale(1.05);
  box-shadow: none;
}

.node--type-news.view-mode-teaser p {
  font-size: .9em;
  line-height: 1.2em;
}

.node--type-page.node--view-mode-full .paragraph--type--text-image.paragraph--view-mode--default img {
  margin-left: 10px;
  float: right;
}
.node--type-news.node--view-mode-full img {
  margin-right: 10px;
  float: left;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default {
  border: 1px solid #D2C9C2;
  background: transparent;
  padding: 0;
  border-radius: 5px;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default > div div {
  border-bottom: 1px solid #D2C9C2;
  padding: 0;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default > div div:last-of-type {
  border-bottom: 0;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default span a {
  display: block;
  border-radius: 5px;
  padding: .5em;
  transition: all ease-in-out 300ms;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default span a:hover {
  background-color: #fff;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default span a:before {
  content: "\f10b";
  font-family: "ionicons";
  margin-right: .25em;
  color: #fff;
  font-size: 1.2em;
  background: #921004;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4em;
  border-radius: 50%;
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default span.file--application-pdf a:before {
  content: "\f12f";
}
.node--type-page.node--view-mode-full .paragraph--type--files.paragraph--view-mode--default span.file--mime-application-zip a:before {
  content: "\f102";
}
.node--type-session .button {
  margin-top: 20px;
}
