# Ignore core and vendor when managing dependencies with Composer.
web/core
vendor
web/libraries
web/modules/contrib

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings.php
build/backups/*

# Ignore paths that contain user-generated content.
web/sites/*/files
private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore IDE and OS files.
.idea/*
.DS_Store/*

tests/_output/*
