
@media only screen and (max-width: 767px) and (orientation: landscape) {

  h2 {
    font-size: 2.4em;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.6em;
  }
  h2:first-letter {
    font-size: 1.5em;
    text-shadow: .075em .075em 0px rgba(0,0,0,0.15);
    vertical-align: initial;
    margin-right: 0.05em;
    line-height: 60%;
  }
  a.button {
    padding: 1.3em 2em;
    /* font-size: 12px; */
    min-width: 15em;
  }
  .logo img {
    max-width: 154px;
  }
  a#cta-btn {
    padding: 1.43em 1em;
    font-size: 0.7em;
  }
  a#cta-btn:before {
    display: none;
  }
  .text-container {
    margin: 0 auto;
    padding: 0;
  }
  .text-inner {
    max-width: 100%;
    padding: 0px;
  }
  .text-inner p {
    max-width: calc(100% - 40px);
    font-size: 1em;
  }
  .text-inner p.scroll-down-p {
    display: none;
  }
  .text-block {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
  }
  .text-block h2, .text-block p {
    display: block;
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 20em;
  }
  .text-block h2:after {
    margin-top: 10px;
    width: 100%;
  }
  .view.view-type-grid .views-row {
    width: calc(33.3% - 4px);
  }
  .view-program .view-header .category li {
    width: 50%;
  }
}


@media only screen and (max-width: 600px) {
  .form-item {
    display: block;
    padding: 0.75em 1.5em;
    font-size: 16px;
    line-height: 120%;
    margin: 0 auto 7px auto;
    border: 1px solid #ccc;
    text-align: center;
    min-width: 0;
    width: 100%;
  }
  .views-exposed-form .form-item {
    border: 0;
  }
  .views-exposed-form {
    text-align: center;
  }
  .form-item.submit-input {
    margin-bottom: 0;
  }
  .notified-form {
    padding: 30px;
  }
  .view.view-type-grid .views-row {
    width: calc(50% - 4px);
  }
  #block-menu-program li span {
    display: none;
  }
  .node-type-news .view-mode-teaser .field.field--name-featured-image {
    float: none;
    margin: 0 auto 0.5em;
    width: 100%;
  }
  .node-type-news .view-mode-teaser .field.field--name-date,
  .node-type-news .view-mode-teaser .field.field--name-title {
    text-align: center;    
  }
  .node-type-news .view-mode-teaser .field.field-name-body {
    margin: 0 auto 1em;
    text-align: center;
    width: 95%;
  }
  .view-program .view-header .category li {
    width: 100%;
  }
  .region.region-content .content .view-program .view-content h3,
  .view-program .view-content .views-row {
    text-align: center;
  }
  .view-program .view-content .field-name-icon {
    left: 0;
    position: relative;
  }
  .view-program .views-row .group-content {
    margin: 0;
  }
  .view-program .field-name-level {
    float: none;
    text-align: center;
    margin-top: 0.4em;
    line-height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .section.section0 {
    padding: calc(2em + 80px) 2em 2em;
  }
  .drop {
    display: block;
  }
  .logo-hero-text {
    display: block;
  }
  .node.node-type-user-profile {
    text-align: center;
  }
  .node-type-user-profile .view-mode-full .field--name-featured-image {
    float: none;
    display: inline-block;
    margin: 1em auto 0;
  }  
  .node-type-user-profile .view-mode-full .field-name-body {
    text-align: justify;
    padding: 1em;
  }
}
@media only screen and (max-width: 420px) {
  .view.view-type-grid .views-row {
    margin: 0 auto;
    width: 100%;
  }
}