<div class="view view-keynotes-home">
    <div class="view-content">
        <div class="item-list">
            <ul>
                {% for row in rows %}
                    <li class="views-row view-mode-home">
                        {{ row.content }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
