<div class="node view-mode-full">
    <h3>Thursday June 23th</h3>
    <div class="group-header">
        <div class="field field--name-featured-image">
            <div class="field-items">
                <div class="field-item">{{ content.field_keynote_picture }}</div>
            </div>
        </div>
        <div class="group-content-speaker">
            <div class="field field--name-name">
                <div class="field-items">
                    <div class="field-item"><h5>{{ content.field_keynote_name }}</h5></div>
                </div>
            </div>
            <div class="field field--name-role">
                <div class="field-items">
                    <div class="field-item">{{ content.field_keynote_role }}</div>
                </div>
            </div>
        </div>
        <div class="field field--name-company">
            <div class="field-items">
                <div class="field-item">{{ content.field_keynote_company_logo }}</div>
            </div>
        </div>
    </div>
    <div class="group-content">
        <h4>The Evolution of the Drupal Community</h4>
        <p>The Drupal project has experienced phenomenal growth over its more than 14 years, growing from a small hobby project to over 1 million known installations, over 1 million Drupal.org users, and more than doubling the active contributors and commits in Drupal core between Drupal 7 and Drupal 8, as well as thousands of people who depend on Drupal in some way for a living.</p>
        <p>This talk will "de-mystify" some recent developments in the community, from the technical direction of Drupal 8, to various project governance changes, to the increasing role of the Drupal Association on Drupal.org. We'll look at both the historical context that brought those changes about, and talk about how they'll help us scale to the next 1 million sites and users.</p>
    </div>
</div>
