<div class="view view-type-grid view-participants">
    <div class="view-content">

        {% for attendee in attendees %}
            <div class="views-row view-mode-teaser">
                <div class="field field--name-featured-image">
                    <div class="field-items">
                        <div class="field-item"><img src="{{ attendee.avatar }}"/></div>
                    </div>
                </div>
                <div class="field field--name-name">
                    <div class="field-items">
                        <div class="field-item"><h3>{{ attendee.name }}</h3></div>
                    </div>
                </div>
                <div class="field field--name-nickname">
                    <div class="field-items">
                        <div class="field-item">{{ attendee.answer('drupal.org profile') }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
