{% if content %}
    <div class="section section4" id="section4">
        <div class="section-inner">
            <div id="plane2"><img src="{{ directory }}/images/plane2.png" alt="plane"/></div>
            <div class="bg-img">
            </div>
            <div class="text-wrapper">
                <div class="text-container">
                    <div class="text-inner">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
