{% if content %}
    <div class="section section2" id="section2">
        <div class="section-inner">
            <div id="plane"><img src="{{ directory }}/images/plane.png" alt="plane"/></div>
            <div id="scenario-section2">
                <div class="bg-img">
                    {#<img src="{{ directory }}/images/backgrounds/bg2.png" alt="image" />#}
                </div>
            </div>
            <div class="text-wrapper">
                <div class="text-container">
                    <div class="text-inner">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
