{% if content %}
    <div class="section section1" id="section1">
        <div class="section-inner">
            <div class="bg-img">
                <img src="{{ directory }}/images/backgrounds/bg1.png" alt="image"/>
            </div>
            <div class="text-wrapper">
                <div class="text-container">
                    <div class="text-inner">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
