<div class="form-container">
    <div class="form-wrapper">

        <h2>Get notified!</h2>

        <p class="paragraph"><em>Sign up to receive updates about the Drupal Developer Days 2016</em>
        </p>

        <div class="form-container">
            <div class="w-form">
                <form class="notified-form" id="wf-form-Get-Notified-Form" name="wf-form-Get-Notified-Form"
                      data-name="Get Notified Form"
                      action="//drupalitalia.us2.list-manage.com/subscribe/post?u=4154a141a3774f5ff66e43991&amp;amp;id=7889baa75a">
                    <input class="w-input form-item text-field-input" id="email" type="email"
                           placeholder="Enter your email address" name="email" data-name="Email"
                           required="required">
                    <input class="w-button form-item submit-input" type="submit" value="Subscribe"
                           data-wait="Please wait...">
                </form>
            </div>
            <p>Contact us: <a class="link" href="mailto:johndoe@johndoe.org">johndoe@johndoe.org</a>
            </p>
        </div>
    </div>
</div>
