/*@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:400,500,700italic,300);*/

@font-face {
  font-family: 'SlabBold';
  src: url('../../fonts/Bitter-Bold.ttf');
}

@font-face {
  font-family: 'SlabReg';
  src: url('../../fonts/Bitter-Regular.ttf');
}

@font-face {
  font-family: 'SlabItalic';
  src: url('../../fonts/Bitter-Italic.ttf');
}

@font-face {
  font-family: 'SansBlack';
  src: url('../../fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'SansBold';
  src: url('../../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'SansReg';
  src: url('../../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'SansItalic';
  src: url('../../fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'SansLight';
  src: url('../../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'ionicons';
  src: url('../../fonts/ionicons/ionicons.eot');
  src: url('../../fonts/ionicons/ionicons.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/ionicons/ionicons.woff') format('woff'),
  url('../../fonts/ionicons/ionicons.ttf') format('truetype'),
  url('../../fonts/ionicons/ionicons.svg#ionicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F2EEE6;
  color: #504E41;
  font-size: 18px;
  font-family: "SansReg", "Helvetica", "Helvetica Neue", Arial, sans-serif;
  background-image: url('../../images/img-noise-361x370-d.png');
  background-position: 0px 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p strong {
  font-family: "SlabBold";
}

.l-main ul {
  padding: 0;
  list-style: none;
  margin: 1em 0;
}

.l-main ul li {
  padding: 0;
}

.l-main ul li:before {
  content: "•";
  display: inline-block;
  margin-right: 1em;
  color: #921004;
  font-size: 0.7em;
  vertical-align: top;
  margin-top: 0.1em;
  padding-left: 1em;
}

.l-main ul.image-list {
  font-size: 0;
}

.l-main ul.image-list li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

.l-main ul.image-list li:before {
  display: none;
}

.l-main ul.image-list li a {
  display: block;
  padding: 0.5em 1em;
}
/*
.l-main ul.image-list li img {
  max-width: 190px;
  max-height: 60px;
}
*/
img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited {
  color: #921004;
  text-decoration: none;
}

a:hover {
  color: #921004;
}

a.button {
  background-color: #921004;
  display: inline-block;
  padding: 0.9em 3em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "SansBold";
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  /*margin: .25em;*/
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: .8em;
}

.section3 a.button {
  background-color: #B42B2D;
}

a.button:hover {
  background-color: #B42B2D;
}

.button:after {
  font-family: "ionicons";
  content: "\f125";
  speak: none;
  right: -.5em;
  top: 50%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  height: 100%;
  font-size: 120%;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -.5em;
}

.button:hover:after {
  right: .8em;
}

.button + .button {
  margin-left: .25em;
}
a.button.dark-button {
  background-color: #423E3E;
}
.l-main {
}

.l-page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: -webkit-radial-gradient(50% 50%, circle, rgba(255, 255, 255, 0) 87%, rgba(169, 160, 147, 0.40));
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 87%, rgba(169, 160, 147, 0.40));
}

.l-content {
  padding: 0;
  margin: 0 auto;
  text-align: left;
}

.front .l-content {
  text-align: center;
}

header.l-header {
  position: fixed;
  z-index: 101;
  height: auto;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  clear: both;
  background: transparent;
}

#header-bg {
  content: "";
  background: #921004;
  display: block;
  position: fixed;
  width: 100%;
  height: 75px;
  top: -75px;
  left: 0;
  z-index: 2;
}

.l-region--branding {
  display: table-cell;
  vertical-align: middle;
}

.branding,
.branding-red {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  display: table;
  width: 100%;
}

.branding-red .site-logo img {
  margin-top: 5px;
}

.section {
  padding: 2em;
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;
}

.section-inner {
  display: table-cell;
  vertical-align: middle;
}

.section.section-sponsor {
  padding: 0;
}

.section.section-sponsor .text-inner {
  padding: 0.5em 1em;
}

.section.section-sponsor h3 {
  font-size: 0.85em;
  text-transform: uppercase;
  color: #504e41;
  margin-bottom: 0.3em;
  letter-spacing: -0.02em;
}

.section.section-sponsor h3:after {
  content: "";
  max-width: 100%;
  width: 90px;
  display: block;
  height: 10px;
  background: url(../../images/line-horizontal-1.png) no-repeat center center transparent;
  margin: 2px auto 0;
}

.section.section0 {
  padding: 157px 2em 10vh;
  overflow: hidden;
  height: 70vh;
  min-height: 580px;
}

.section0 .section-inner {
  position: fixed;
  width: 100%;
  /*padding-right: 130px;*/
}

.section.section1 {
  height: 30vh;
  min-height: 0;
  background-color: #921004;
  color: #fff;
  overflow: hidden;
  /*background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 92%, rgba(0,0,0, 0.2));*/
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.2);
}

.section.section3 {
  background: #921004;
  color: #fff;
  overflow: visible;
}

.logo {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 20%;
}

.logo img {
  max-width: 190px;
  margin-bottom: 0.35em;
}

.logo img.logo-white {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.submit-session,
.buy-tickets {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

a#cta-session-btn,
a#cta-btn {
  display: inline-block;
  background: #921004;
  padding: 1em 1.8em 1em 3.3em;
  margin: 6px 0 6px;
  color: #fff;
  font-family: "SansBold";
  text-transform: uppercase;
  position: relative;
  border-radius: 3px;
  font-size: 0.9em;
}

.submit-session,
a#cta-session-btn {
  width: 214px;
}

.buy-tickets,
a#cta-btn {
  width: 175px;
}

.buy-tickets {
  padding-left: 20px;
}

a#cta-session-btn:hover,
a#cta-btn:hover {
  background: #B42B2D;
}

a#cta-session-btn:before,
a#cta-btn:before {
  font-family: "ionicons";
  color: inherit;
  font-size: 24px;
  speak: none;
  margin-right: 5px;
  line-height: 1em;
  vertical-align: middle;
  /*background: rgba(0,0,0,0.2);*/
  padding: 0.3em;
  border-radius: 50%;
  display: block;
  float: left;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0.3em;
  top: 50%;
  margin-top: -0.8em;
}

a#cta-session-btn:before {
  content: "\f2d4";
}

a#cta-btn:before {
  content: "\f2ab";
}

.not-front .l-main {
  max-width: 1440px;
  margin: 60px auto 0;
  padding: 0 20px;
  clear: both;
}

.bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 0;
  bottom: 0;
}

.section3 .bg-img {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../../images/backgrounds/bg3.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  height: 500px;
}

.text-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  width: 100%;
  z-index: 1;
}

.text-container {
  margin: 0 auto;
  padding: 0;
}

.text-inner {
  padding: 2em 0;
  text-align: center;
}
#section1 .text-inner {
  padding: 1em 0;
}
.text-inner p {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
#section1 .text-inner p {
  margin-bottom: 0;
}
.text-inner p + p {
  margin-top: .5em !important;
}

.text-inner p.scroll-down-p {
  margin-bottom: -10vh;
}

.text-inner p.scroll-down-p {
  margin: 25px auto -10vh !important;
  font-family: "SansReg";
  font-size: 13px !important;
}

.text-inner .scroll-down {
  display: inline-block;
  width: auto;
  font-family: "SlabBold", Helvetica, Arial, sans-serif;
  color: #921004;
}

.text-inner .scroll-down span {
  text-indent: -9999px;
  display: none;
}

.text-inner .scroll-down:after {
  content: "";
  display: block;
  /* background: url(../../images/icons.png) no-repeat -1px -2px #921004; */
  width: 29px;
  height: 29px;
  margin: 3px auto 0 auto;
  border-radius: 50%;
  -webkit-animation: scroll-icon 5s ease-in-out infinite;
  -moz-animation: scroll-icon 5s ease-in-out infinite;
  -ms-animation: scroll-icon 5s ease-in-out infinite;
  -o-animation: scroll-icon 5s ease-in-out infinite;
  animation: scroll-icon 5s ease-in-out infinite;
}

h1 {
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "SlabBold", Helvetica, Arial, sans-serif;
}

.not-front h1 {
  margin-top: 0;
  padding-top: 0;
  line-height: 1em;
  margin-bottom: .4em;
  text-align: left;
}

h2 {
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 1em;
  font-size: 1.8em;
  font-family: "SlabBold", Helvetica, Arial, sans-serif;
}

h2:after {
  content: "";
  max-width: 100%;
  width: 420px;
  display: block;
  height: 10px;
  background: url(../../images/line-horizontal-1.png) no-repeat center center transparent;
  margin: 15px auto 0;
}

.view-mode-teaser h2:after {
  display: none;
}

.section1 h2 {
  font-size: 2.2em;
  text-transform: uppercase
}

.form-container h2:first-letter,
.section1 h2:first-letter,
.view-mode-teaser h2:first-letter {
  font-size: inherit;
  text-shadow: none;
  vertical-align: inherit;
  line-height: inherit;
  margin-right: 0;
}

.section1 h2:after,
.section3 h2:after {
  background: url(../../images/line-horizontal-white-1.png) no-repeat center center transparent;
}

h2:first-letter {
  font-size: 1.9em;
  text-shadow: .075em .075em 0px rgba(0, 0, 0, 0.15);
  vertical-align: bottom;
  margin-right: 0.05em;
  line-height: 60%;
}

.l-content h2 {
  font-size: 2em;
  margin-bottom: .25em;
}

h3 {
  font-weight: 400;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 2em;
  font-family: "SlabBold", Helvetica, Arial, sans-serif;
}

.title {
  position: relative;
  bottom: 20%;
  z-index: 1;
  display: block;
}

.l-footer {
  padding: 40px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: center;
}

.section4 .text-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section4 .block {
  width: 33.3332%;
  padding: 10px
}

.animated-signs-container {
  position: fixed;
  top: -150px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.block-title {
  margin-bottom: 0em;
  color: #921004;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: none;
}

.actions {
  margin-bottom: 2em;
}

/* -------left column------- */
aside#aside {
  float: left;
  width: 25%;
  margin-bottom: 70px;
  padding-top: .8em;
  padding-right: 1em;
}

.one-sidebar .l-content {
  float: right;
  width: 75%;
  margin-bottom: 70px;
  padding-left: 1em;
}

aside#aside h2 {
  font-size: 1.0em;
}

aside#aside h2:after {
  display: none;
}

aside#aside h2:first-letter {
  font-size: inherit;
  text-shadow: inherit;
  vertical-align: inherit;
  margin-right: inherit;
  line-height: inherit;
}

.region-content article h2 {
  color: #921004;
  font-size: 1.3em;
  margin-top: 1.7em;
}

.region-content article h2:after {
  margin: 0 0 0 1.6em;
}

.region-content article h3 {
  font-size: 1.2em;
  margin-top: 1em;
}

.region-content article p {
  line-height: 1.5em;
}

#block-slides {
  position: relative;
  margin: 1.5em 0 2em 0;
}

#block-slides .swiper-container {
  margin: 0 4em;
}

#block-slides .arrow {
  background-color: #B42B2D;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  border-radius: 50%;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#block-slides .arrow span {
  display: block;
}

#block-slides .arrow span:before {
  font-family: "ionicons";
  content: "\f124";
  color: #fff;
  font-size: 24px;
  speak: none;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 0;
}

#block-slides .arrow.arrow-right {
  right: 0;
}

#block-slides .arrow.arrow-right span:before {
  content: "\f125";
}

.l-main #block-slides ul.image-list li {
  width: 16.6665%;
}

.l-main #block-slides ul.image-list li img {
  max-width: 100%;
  max-height: 70px;
}

.block-views-blocksponsor-block-3 {
  margin-top: 2em;
}

.l-main #aside .block-views-blocksponsor-block-3 ul.image-list {
  margin: 15px 0;
}

.l-main #aside .block-views-blocksponsor-block-3 ul li {
  display: block;
  margin-bottom: 10px;
}

.l-main #aside .block-views-blocksponsor-block-3 ul li a {
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
}

.l-main #aside .block-views-blocksponsor-block-3 ul li a:hover {
  background-color: rgba(255, 255, 255, 1);
}

.l-main #aside .block-views-blocksponsor-block-3 ul li a:before {
  display: none;
}

li.pager__item {
  display: inline-block;
  margin: 0 5px;
}

#sponsor-carousel {
  margin-top: 20px;
}

#sponsor-carousel img {
  width: auto;
}

#sponsor-carousel .owl-nav {
  margin-top: 20px;
  color: rgb(146, 16, 4);
}

#sponsor-carousel .owl-prev {
  margin-right: 10px;
  display: inline;
}

#sponsor-carousel .owl-next {
  display: inline;
}

.region-highlighted > div {
  color: white;
  text-align: center;
  padding: 1em;
  background-color: #921004;
  margin: 1em 0;
  border-radius: 0.3em;
  border: 3px solid #921004;
}

.region-highlighted:hover div {
  color: #921004;
  background-color: white;
}
.region-highlighted:hover div a {
  color: #921004;
}

.region-highlighted > div a {
  color: white;
  text-decoration: underline;
}

#block-featuredfirst h2 {
  max-width: 32em;
  font-size: 1.4em;
}

#block-featuredfirst h2:after {
  display: none;
}

#block-featuredfirst h3 {
  font-size: 1.4em;
  max-width: 32em;
  text-align: right;
  margin: 0.3em auto 1.5em auto;
  padding: 0 1em;
  font-family: cursive;
}

.view-news .views-row {
  min-height: 230px;
}

a.button.dark-button.contact-us-link {
  font-size: 0.9em;
  margin-top: 1.5em;
  display: inline-block;
  font-family: "SansBlack";
}
a.button.dark-button.contact-us-link:hover {
  background-color: #B42B2D;
}

#block-share {
  margin-bottom: 40px;
}

#block-share h2 {
  padding-bottom: 0.75em;
}
.social-block {
  margin-top: 2em;
}
.social-link {
  display: inline-block;
}
.social-link span {
  display: none;
}
.social-link a {
  display: block;
}
.social-link a:before {
  content: "";
  font-family: "ionicons";
  display: block;
  color: #fff;
  font-size: 1.35em;
  background-color: #423E3E;
  width: 1.6em;
  line-height: 1.6em;
  border-radius: 50%;
}
.social-link a:hover:before {
  background-color: #B42B2D;
}
.social-link.twitter a:before {
  content: "\f243";
}
.social-link.facebook a:before {
  content: "\f231";
}
.social-link.gplus a:before {
  content: "\f235";
}
.social-link.pinterest a:before {
  content: "\f2b0";
}
.social-link.instagram a:before {
  content: "\f350";
}
table {
  width: 100%;
}
tbody tr {
  border-bottom: 1px solid rgb(204, 204, 204);
}
td {
  padding-bottom: 10px;
  padding-top: 10px
}
#block-views-block-my-sessions-block-1 {
  margin-top: 60px;
}

.region-all-sponsors,
.region-platinum-sponsors {
  background-color: rgba(255,255,255,0.8);
  padding: 1em 0;
}

.region-all-sponsors h2,
.region-platinum-sponsors h2 {
  font-size: 1.3em;
}

.l-main #aside .block-views ul li a:before {
  display: none;
}
